.App {
    font-family: Nunito;
}

.text-align-centre {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-0 {
    margin-top: 0px;
}

.pointer {
    cursor: pointer;
}

.p-10 {
    padding: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-t-5 {
    margin-top: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.header {
    height: 40px;
    text-align: center;
}

.w-20 {
    width: 20%;
}

.w-50 {
    width: 50%;
}

.display-grid {
    display: grid;
}

.color-blue {
    border: 2px solid #3054D6
}

.car-header {
    background-color: #202942;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.car-list-item {
    background-color: #202942;
    color: white;
    border-radius: 10px;
}

.car-details {
    border-radius: 10px;
}

.p-20 {
    padding: 20px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.posted-color {
    color: #8492A6;
}

ul .spec-1 {
    list-style-image: url('assets/icons/spec1.svg');
}

ul .spec-2 {
    list-style-image: url('assets/icons/spec2.svg');
}

ul .spec-3 {
    list-style-image: url('assets/icons/spec3.svg');
}

.spec-list {
    color: #0A2239;
}

li {
    padding-bottom: 10px;
    padding-left: 10px;
}

ul {
    margin-bottom: 0px;
}

.additional-text {
    color: #0A2239;
    padding: 10px;
    margin: 0px;
}

.hide-div {
    background-color: #2355FC0F;
    color: #194DFF;
    text-align: center;
}

.m-b-3 {
    margin-bottom: 3px;
}

.profile-div {
    color: #0A2239;
    padding: 10px;
    padding-bottom: 20px;
}

.user-name {
    display: grid;
}

.bid-details {
    border: 1px solid #0A22391F;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 0px;
}

.number-input:focus {
    outline: none;
}

.number-input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    width: 80%;
}

.height-50 {
    height: 50px;
}

.input-div {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.input-amount-div {
    width: 60%;
    display: flex;
    margin: auto;
}

.display-flex {
    display: flex !important;
}

.font-20 {
    font-size: 20px;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bid-button {
    border-radius: 50px;
    padding: 10px;
    color: #0A2239;
    background-color: ipx solid #F6F9FB80;
    border: 1px solid #E7EBEE;
}

.bid-button:focus,
.bid-button-active {
    border: 1px solid #3054D6;
    background-color: #3054D60F;
    outline: none;
    color: #3054D6;
}

.m-b-10 {
    margin-bottom: 10px;
}

.w-80 {
    width: 80%;
}

.font-12 {
    font-size: 12px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-0 {
    padding-bottom: 0px;
}

.margin-auto {
    margin: auto;
}

.input-mobile {
    height: 40px;
    width: 100%;
    color: #0A2239;
    border: 1px solid #E7EBEEB3;
}

.input-mobile:focus {
    outline: #3054D6 auto 1px;
}

.p-floating-container {
    position: relative;
    padding: 5px;
    padding-bottom: 20px;
}

.p-floating-container label {
    /* Position the label */
    left: 8px;
    position: absolute;
    top: 0;
    /* Hide it by default */
    opacity: 0;
    color: #3054D6;
    transition: 'all 200ms',
}

.p-floating-container b {
    left: 10px;
    position: absolute;
    font-size: 14px;
    top: 20px;
    width: 5%;
}

.mobile-number {
    padding-left: 40px;
    width: 86%;
}


/* Show the label at desired position when the placeholder of input isn't shown */

.p-floating-container input:not(:placeholder-shown)+label {
    background: #FFF;
    transform: translate(0, -50%);
    opacity: 1;
}

.submit-btn {
    width: 100%;
    height: 50px;
    font-size: 16px;
    background-color: #2355FC;
    color: #FFFFFF;
    border: 1px solid #EDF0F7;
    border-radius: 10px;
    margin-top: 20px;
}

.submit-btn:disabled {
    background-color: #EDF0F7;
    color: #2355FC;
}